*{margin: 0; padding: 0; box-sizing: border-box;}

.app{ 
    font-family: 'montserrat' , sans-serif;
    color:#ffff;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:rgb(87, 84, 216);
    
}

.header{
    padding: 50px 20px 30px 20px;
}

.header h1{
    font-size: 50px;
    text-shadow: 1px 3px rgba(0,0,0,.9);
}

.header input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(15, 6, 56);
    text-align: center;
    font-size: 20px;
    color: #f2f2f2;
}

.city{
    font-size: 45px;
    font-weight: 500 ;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0,0,0,0.9);
}

.temp{
    font-size: 65px; 
    font-weight: 500 ;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0,0,0,0.9);   
}