*{margin: 0; padding: 0; box-sizing: border-box;}

.app{ 
    font-family: 'montserrat' , sans-serif;
    color:#ffff;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:rgb(87, 84, 216);
    
}

.header{
    padding: 50px 20px 30px 20px;
}

.header h1{
    font-size: 50px;
    text-shadow: 1px 3px rgba(0,0,0,.9);
}